body{
    font-family:'Roboto';
}

#modelUser{
    background-color: darkgreen;
    display: flex;
}

#userCopy{
    background-color: crimson;
    display: flex;
}

table{
    border-collapse: collapse;
    margin-right: 20px;
    white-space:pre;
}
table td, table th{
    border: 1px solid #ccc;
    padding: 5px;
}

#compareButtonDIV{
    background-color: blueviolet;
}

#result-container {
    display: none;
}

#result-functions{
    display: none;
    background-color: #661;
}

#result-params{
    display: none;
    background-color: #662;
}

#result-profiles{
    display: none;
    background-color: #663;
}