#modelUser{
    background-color: darkgreen;
    display: flex;
}

#userCopy{
    background-color: crimson;
    display: flex;
}

table{
    border-collapse: collapse;
    margin-right: 20px;
    white-space:pre;
}
table td, table th{
    border: 1px solid #ccc;
    padding: 5px;
}

#compareButtonDIV{
    background-color: blueviolet;
}

