body{
    font-family: 'Roboto';
    font-weight: 300;
    
    color:#A7A1AE;
    background-color:#1F2739;
}

.table{
    margin: 20px 20px;
    white-space: pre;
}

th{
    font-size:24px;
    font-weight: 400;
    line-height: 27px;
    
    color: #4DC3FA;
    padding: 5px;
    border: 1.7px solid #ccc;
}

td{
    height: 30px;
    font-size: 20px;
    vertical-align: middle;
    border: 1.7px solid #ccc;
}
#modelUser{
    display: flex;
}

#userCopy{
    display: flex;
}


#compareButtonDIV{
    padding: 10px 17px;
}

#result-container{
    display: none;
}

#result-functions{
    margin-bottom: 35px;
    display: none;
    color:#A7A1AE;
    background-color:#1F2739;
}

#result-params{
    margin-bottom: 35px;
    display: none;
    color:#A7A1AE;
    background-color:#1F2739;
}

#result-profiles{
    margin-bottom: 35px;
    display: none;
    color:#A7A1AE;
    background-color:#1F2739;
}

span{
    font-size: 23px;
    margin-left: 7px;
    margin-bottom: 14px;
    display: inline-block;
}
ul{
    margin-left: 7px;
    font-size: 19px;
    color: aliceblue;
}

li{
    margin-bottom: 11px;
    text-transform: uppercase;
}

table#uniqueModelArr {
    margin-left: 7px;
    margin-bottom: 27px;
    color: aliceblue;
}

table#sameKeyDiffValues{
    margin-left: 7px;
    margin-bottom: 27px;
    color: aliceblue;
}

#compareButtonBTN{
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    border: 0;
    color: #000021;
    background: #1de9b6;
    line-height: 1.15;
    font-size: 16px;
}

#compareButtonBTN:hover{
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
}


::-webkit-scrollbar{
	width: 12px;
	background-color: #1F2739;
}

::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: #11151e;
}